@import '../../App.scss';

.groups-outer-container {
    height: 90vh;
    position: relative;
    @include flexRow();
    justify-content: center;
    align-items: flex-start;

    .sidebar-main-container {
        position: absolute;
        left: 0;
        top: 0;
        height: 90vh;
        width: 4%;
        background: linear-gradient(90deg, #6437A0 0%, #9754CB 100%);
        @include flexCol();
        flex-direction: column;
        color: white;

        font-size: 2rem;

        div {
            margin-bottom: 20px;
            padding: 10px;
            box-sizing: border-box;
            @include flexCol();
            cursor: pointer;
            transition: 100ms background-color ease-in-out, 100ms color ease-in-out;
            width: 100%;

            &:hover {
                background-color: white;
                color: $purple-dark;
            }
        }
    }

    .groups-main-container {
        width: calc(100% - 4%);

        .groups-header {
            border-bottom: 1px solid $bg-light-gray;
            height: 10vh;
            @include flexRow();
            justify-content: space-between;
            align-items: flex-end;
            padding: 0 5%;
            padding-bottom: 10px;
            box-sizing: border-box;

            h1 {
                color: $purple-mid;
            }

            .course-select-dropdown {
                width: 300px;
                height: 40px;
                overflow: hidden;
                @include flexRow();


                select {
                    height: 40px;
                    width: 100%;
                    box-shadow: none;
                    cursor: pointer;
                    color: white;
                    outline: none;
                    border: none;
                    background: none;
                    border-bottom: 2px solid $purple-dark;
                    color: $purple-dark;
                    font-size: 1rem;
                    font-weight: 500;
                }

            }

        }


        // .column-container {
        //     // border: 2px solid red;
        //     // height: 70vh;
        //     height: auto;
        //     padding: 50px 0;
        //     @include flexRow();

        //     .column-common {
        //         height: 100%;
        //         width: 25%;
        //         @include flexCol();
        //         justify-content: flex-start;

        //         .subject-dropdown-container {
        //             width: 70%;
        //             margin-bottom: 50px;

        //             select {
        //                 width: 100%;
        //                 height: 40px;
        //                 border: none;
        //                 border-bottom: 2px solid $purple-dark;
        //                 color: $purple-dark;
        //                 background: none;
        //                 font-weight: 500;
        //                 font-size: 1rem;
        //                 cursor: pointer;
        //             }
        //         }

        //         .card {
        //             height: auto;
        //             width: 70%;
        //             border-radius: 11px;
        //             overflow: hidden;
        //             transition: 100ms box-shadow ease-in-out;

        //             &:hover {
        //                 box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
        //             }

        //             .card-img-container {
        //                 height: 200px;
        //                 background-color: $bg-light-gray;
        //             }

        //             .card-content-container {
        //                 // border: 2px solid red;
        //                 padding: 10px;
        //                 box-sizing: border-box;
        //                 color: $text-dark;

        //                 h2 {
        //                     font-size: 1.1rem;
        //                     font-weight: 500;
        //                 }

        //                 p {
        //                     color: $text-light;
        //                     margin: 10px 0;
        //                     font-size: 1rem;
        //                 }

        //                 .card-btn-container {
        //                     cursor: pointer;
        //                 }
        //             }
        //         }

        //     }
        // }

        .cards-main-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            width: 90%;
            margin: 0px auto;

            .card {
                // width: 23%;
                border-radius: 5px;
                overflow: hidden;
                margin: 20px 10px;
                padding-bottom: 10px;
                transition: 100ms box-shadow ease-in-out;
                box-sizing: border-box;
                box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);

                .card-img-container {
                    height: 200px;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                .card-content-container {
                    padding: 0 10px;

                    h2,
                    p {
                        margin: 10px 0;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 415px) {

    .groups-outer-container {

        .groups-main-container {

            height: 90vh;

            .groups-header {

                .course-select-dropdown {
                    width: 200px;
                }
            }


            .column-container {
                align-items: center;

                .column-common {
                    display: none;
                }

                .column-common:first-child {
                    display: flex;
                    width: 100%;

                    .subject-dropdown-container {
                        width: 80%;
                    }

                    .card {
                        width: 80%;
                    }
                }
            }
        }
    }
}