@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  height: 12px;
  width: 10px;
  background: #27272A;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-thumb:hover {
  background: #6D28D9;
}

::-webkit-scrollbar-corner {
  background: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #27272A;
}

.groups-outer-container {
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.groups-outer-container .sidebar-main-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 90vh;
  width: 4%;
  background: linear-gradient(90deg, #6437A0 0%, #9754CB 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
  color: white;
  font-size: 2rem;
}
.groups-outer-container .sidebar-main-container div {
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 100ms background-color ease-in-out, 100ms color ease-in-out;
  width: 100%;
}
.groups-outer-container .sidebar-main-container div:hover {
  background-color: white;
  color: #6D28D9;
}
.groups-outer-container .groups-main-container {
  width: 96%;
}
.groups-outer-container .groups-main-container .groups-header {
  border-bottom: 1px solid #393939;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 5%;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.groups-outer-container .groups-main-container .groups-header h1 {
  color: #9754CB;
}
.groups-outer-container .groups-main-container .groups-header .course-select-dropdown {
  width: 300px;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.groups-outer-container .groups-main-container .groups-header .course-select-dropdown select {
  height: 40px;
  width: 100%;
  box-shadow: none;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid #6D28D9;
  color: #6D28D9;
  font-size: 1rem;
  font-weight: 500;
}
.groups-outer-container .groups-main-container .cards-main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 90%;
  margin: 0px auto;
}
.groups-outer-container .groups-main-container .cards-main-container .card {
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 10px;
  padding-bottom: 10px;
  transition: 100ms box-shadow ease-in-out;
  box-sizing: border-box;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
}
.groups-outer-container .groups-main-container .cards-main-container .card .card-img-container {
  height: 200px;
  overflow: hidden;
}
.groups-outer-container .groups-main-container .cards-main-container .card .card-img-container img {
  width: 100%;
}
.groups-outer-container .groups-main-container .cards-main-container .card .card-content-container {
  padding: 0 10px;
}
.groups-outer-container .groups-main-container .cards-main-container .card .card-content-container h2,
.groups-outer-container .groups-main-container .cards-main-container .card .card-content-container p {
  margin: 10px 0;
}

@media only screen and (max-width: 415px) {
  .groups-outer-container .groups-main-container {
    height: 90vh;
  }
  .groups-outer-container .groups-main-container .groups-header .course-select-dropdown {
    width: 200px;
  }
  .groups-outer-container .groups-main-container .column-container {
    align-items: center;
  }
  .groups-outer-container .groups-main-container .column-container .column-common {
    display: none;
  }
  .groups-outer-container .groups-main-container .column-container .column-common:first-child {
    display: flex;
    width: 100%;
  }
  .groups-outer-container .groups-main-container .column-container .column-common:first-child .subject-dropdown-container {
    width: 80%;
  }
  .groups-outer-container .groups-main-container .column-container .column-common:first-child .card {
    width: 80%;
  }
}/*# sourceMappingURL=Groups.css.map */